.head  {
    @apply text-left tracking-wider font-bold
    text-custom-green text-3xl flex justify-between
    mr-auto ml-4 my-auto align-middle mt-4;
}

.hv{
    @apply underline text-center
}
.hv:hover {
    @apply text-custom-blue
}

.cl {
    @apply relative  items-center justify-center
    h-6 w-6
    hover:text-red-400
    transition-all duration-300 ease-linear
    cursor-pointer
}

  .barhr {
    @apply bg-custom-green
    border border-custom-green rounded-full
    mt-4
    mx-2;
  }

.form__inp{
    @apply text-gray-800 text-2xl font-semibold mx-12 mt-3;
    border-radius: 0.375rem;
    letter-spacing: 0.025em;
    text-align: center;
    height: 3rem;
}
.time__inp{
    @apply tracking-wider mt-2 text-xl text-gray-600;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

.inp2{
    @apply  tracking-wider
    mt-4 text-xl flex-col space-y-4 ml-4 mr-4
     text-gray-600

}
/* .inp-spacing{
    @apply   mx-20
} */
.btn{
    @apply
    mt-2 flex-row text-center p-2 w-20
    bg-custom-green
    cursor-pointer
    text-custom-cream2
    rounded-xl
    mx-10
}

